@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #333333;

    --card: #ffffff;
    --card-hover: #f5f5f5;
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: #2e43ff;
    --primary-foreground: #ffffff;

    --secondary: #e5e8ff;
    --secondary-foreground: #162069;

    --muted: #eaeaea;
    --muted-foreground: #797979;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #c9c9c9;
    --input: #e4e4e7;
    --accordion-text: #787878;
    --radius: 0.5rem;
  }

  .dark {
    --background: #333333;
    --foreground: #ffffff;

    --card: #333333;
    --card-hover: #525252;
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: #bdc3ff;
    --primary-foreground: #162069;

    --secondary: #525252;
    --secondary-foreground: #e5e8ff;

    --muted: #797979;
    --muted-foreground: #797979;

    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;

    --border: #797979;
    --input: #27272a;
    --accordion: #525252;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
