@tailwind base;
@tailwind components;
@tailwind utilities;

/* .material-symbols-outlined {
  text-align: center;
} */

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #333333;

    --background-tags: #e3e6ff;
    --benefit: #161f69;

    --card: #ffffff;
    --card-hover: #f5f5f5;
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: #2e43ff;
    --primary-foreground: #ffffff;
    --primary-hover: #0000d9;
    --primary-active: #bcc3ff;

    --secondary: #e5e8ff;
    --secondary-foreground: #162069;

    --muted: #eaeaea;
    --muted-foreground: #797979;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #c9c9c9;

    --input: var(--border);
    --input-hover: #797979;
    --input-focus: var(--primary-active);

    --radius: 16px;
  }

  .dark {
    --background: #333333;
    --foreground: #ffffff;

    --background-tags: #525252;
    --benefit: #e3e6ff;

    --card: #333333;
    --card-hover: #525252;
    --card-foreground: var(--foreground);

    --popover: var(--background);
    --popover-foreground: var(--foreground);

    --primary: #bcc3ff;
    --primary-foreground: #162069;
    --primary-hover: #e3e6ff;
    --primary-active: #8995ff;

    --secondary: #525252;
    --secondary-foreground: #e5e8ff;

    --muted: #797979;
    --muted-foreground: #797979;

    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;

    --border: #797979;

    --input: var(--border);
    --input-hover: #c9c9c9;
    --input-focus: var(--primary);

    --accordion: #525252;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* body {
  background: #bcc3ff;
} */
